@charset "ISO-8859-1";
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: centre;
        }

        .h1 {
            color: #333;
        }

        .img {
           margin-top: 20px
        }

        el {
           
            padding: 0;
        }

        li {
            margin: 10px ;
        }

       .p{
	   height: 10%;
	   }
	   img{
		   cursor: pointer;
		   transition: transform 0.3s ease;
		   display: flexbox;
		   height: 200px;
	   }
	   img:hover{
		   transform: scale(2);
	   }